<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/b6f21dd2ae.js" crossorigin="anonymous"></script>
  <link rel="icon" href="chat-icon.png">
  <title>Chatroom</title>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
        "sweetalert2": "https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/+esm"
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <div id="bg"></div>
    <div class="bg-start"></div>
    <div id="sidebar">
      <div class="members-container">
        <p v-html="showMemberCount()"></p>
        <div class="members">
          <ul>
            <li v-for="member in members[currentChannel]" v-on:click="moveToMsg(lastMsgFromMember(member, currentChannel))">
              <img class="avatar" :src="`https://github.com/${member}.png`" :alt="`${member} avatar's image`" onerror="this.src='./no-image.svg'">
              <div class="member-info">
                <p v-cloak>{{member}}</p>
                <p><small class="posted-time" v-html="generateMemberTimestamp(member, currentChannel)"></small></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="btns-container">
        <button v-on:click="darkmode"><i class="fa-solid fa-moon"></i></button>
        <a href="https://github.com/ctyamashita/vue-chatroom" target="_blank"><i class="fa-solid fa-code"></i></a>
        <a href="https://www.linkedin.com/in/ctyamashita/" target="_blank"><i class="fa-solid fa-address-card"></i></a>
        <a href="https://ctyamashita.github.io/" target="_blank"><i class="fa-solid fa-mountain"></i></a>
      </div>
    </div>
    <div class="messages-container">
      <div class="channels-container">
        <div class="channels">
          <label class="channel-btn" v-for="channel in Object.keys(messages)" v-cloak>
            #{{channel}}
            <input type="radio" name="channel" :id="channel" :checked="(channel === currentChannel || Object.keys(messages).length === 1)" v-on:click="setChannel">
          </label>
          <button v-on:click="createNewChannel" class="new-channel-btn">+</button>
        </div>
        <button class="close-tab-btn" v-on:click="closeChannel"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div id="messages">
        <div class="bubble" v-for="msg in messages[currentChannel]" :id="msg.id">
          <div :class="isAuthor(msg) ? 'bubble-content me' : 'bubble-content'" :id="this.messageToReply == msg.id ? 'highlight' : ''">
            <p class="msg-author" v-cloak>{{ msg.author }} <small class="posted-time" v-html="generateTimestamp(msg)"></small></p>
            <p class="msg-content" v-html="checkReply(msg.content)"></p>
            <div class="reply-btn-container">
              <button class="reply-btn" v-on:click="triggerReply(msg.id)"><i class="fa-solid fa-reply" style="scale: 1 -1"></i></btn>
            </div>
          </div>
        </div>
      </div>
      <button class="to-bottom-btn" v-on:click="moveToMsg(lastMsgId(currentChannel))">▼</button>
      <div v-html="copyReply()"></div>
      <div id="input-container">
        <p id="author" v-cloak>{{ author }}:</p>
        <div class="message-input-container"><span v-html="replySignal()"></span><input type="text" id="message" v-on:keyup="sendMessage"><button class="reply-cancel-btn" v-on:click="cancelReply"><i class="fa-solid fa-circle-xmark"></i></button></div>
      </div>
    </div>
  </div>
  <script type="module" src="./chat.js"></script>
</body>
</html>
