<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Chatroom</title>
  <link rel="stylesheet" href="./style.css">
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <div id="bg"></div>
    <div class="bg-start"></div>
    <div id="sidebar">
      <div class="members-container">
        <p v-html="showMemberCount()"></p>
        <div class="members">
          <ul>
            <li v-for="member in members[currentChannel]" v-on:click="moveToMsg(lastMsgFromMember(member, currentChannel))">
              <img class="avatar" :src="`https://github.com/${member}.png`" :alt="`${member} avatar's image`">
              <div class="member-info">
                <p>{{member}}</p>
                <p><small class="posted-time" v-html="generateMemberTimestamp(member, currentChannel)"></small></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="btns-container">
        <button v-on:click="darkmode">☯︎</button>
        <a href="https://github.com/ctyamashita/vue-chatroom" target="_blank">🛠</a>
        <a href="https://www.linkedin.com/in/ctyamashita/" target="_blank">ℹ️</a>
        <a href="https://ctyamashita.github.io/" target="_blank">ᨒ</a>
      </div>
    </div>
    <div class="messages-container">
      <div class="channels-container">
        <div class="channels">
          <label class="channel-btn" v-for="channel in Object.keys(messages)" >
            #{{channel}}
            <input type="radio" name="channel" :id="channel" :checked="channel == currentChannel" v-on:click="setChannel">
          </label>
          <button v-on:click="createNewChannel" class="new-channel-btn">+</button>
        </div>
        <button class="close-tab-btn" v-on:click="closeChannel">✖</button>
      </div>
      <div id="messages">
        <div class="bubble" v-for="msg in messages[currentChannel]" :id="msg.id">
          <div :class="isAuthor(msg) ? 'bubble-content me' : 'bubble-content'" :id="this.messageToReply == msg.id ? 'highlight' : ''">
            <p class="msg-author">{{ msg.author }} <small class="posted-time" v-html="generateTimestamp(msg)"></small></p>
            <p class="msg-content" v-html="generateReply(msg.content)"></p>
            <div class="reply-btn-container">
              <button class="reply-btn" v-on:click="triggerReply(msg.id)">↩</btn>
            </div>
          </div>
        </div>
      </div>
      <button class="to-bottom-btn" v-on:click="moveToMsg(lastMsgId(currentChannel))">▼</button>
      <div v-html="copyReply()"></div>
      <div id="input-container">
        <p id="author">{{ author }}:</p>
        <div class="message-input-container"><span v-html="replySignal()"></span><input type="text" id="message" v-on:keyup="sendMessage"><button class="reply-cancel-btn" v-on:click="cancelReply">✖</button></div>
      </div>
    </div>
  </div>
  <script type="module" src="./chat.js"></script>
</body>
</html>
