:root {
  --spacing: 8px;
  --base-height: calc(var(--spacing) * 6);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: grid;
  align-items: flex-start;
  font-family: monospace;
  background-color: cadetblue;
}

body:has(#app.darkmode) {
  background-color: rgba(0,0,0,.6);
}

#app {
  display: grid;
  /* background-color: cadetblue; */
  padding: var(--spacing) var(--spacing) var(--spacing) 0;
}

#app.darkmode {
  filter: hue-rotate(90deg) invert(1) brightness(1.5) sepia(1);
}

#app.darkmode img {
  filter: invert(1);
}

#app:has(#sidebar .members ul:empty) {
  grid-template-columns: 1fr;
}

.messages-container {
  /* display: grid;
  grid-template-rows: var(--base-height) calc(100vh - (var(--base-height) * 2) - (var(--spacing) * 2)) var(--base-height); */
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing);
  height: calc(100vh - (var(--spacing) * 2));
  position: relative;
}

#sidebar {
  display: none;
}

.channels {
  display: flex;
  align-items: center;
  margin-right: var(--spacing);
  gap: var(--spacing);
  overflow: scroll;
  overflow-y: hidden;
}

.channels::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#messages {
  flex-grow: 1;
  padding: var(--spacing) calc(var(--spacing) * 2);
  padding-right: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: whitesmoke;
  border-radius: 0 var(--spacing) 0 0;
  box-shadow: inset 0 -7em 8em -10em lightgray;
}

#input-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 0 0 var(--spacing) var(--spacing);
}

#input-container #author {
  margin: 0 auto;
  font-weight: 900;
  font-size: 16px;
  padding-left: var(--spacing);
}

.bubble {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.bubble .bubble-content#highlight {
  outline: solid 4px gold;
  outline-offset: -4px;
}

.messages-container:has(#highlight) #author {
  display: none;
}

.reply-btn-container {
  position: absolute;
  bottom: calc(var(--spacing)/3);
  right: var(--spacing);
}

.reply-btn {
  border: none;
  background: transparent;
  color: teal;
  padding: 0;
  opacity: .5;
}

.reply-btn:hover, .reply-btn:focus {
  opacity: 1;
  cursor: pointer;
}

.reply-btn svg {
  height: 12px;
  width: 12px;
}

.bubble:has(.bubble-content.me) {
  justify-content: flex-end;
}

.bubble .bubble-content {
  word-break: auto-phrase;
  padding: var(--spacing);
  background-color: khaki;
  max-width: 70vw;
  min-width: 10vw;
  width: fit-content;
  border-radius: var(--spacing) var(--spacing) var(--spacing) 0;
  margin: var(--spacing) 0;
  box-shadow: .2em .2em rgba(0,0,0,.1);
  position: relative;
}

.bubble-content .msg-author {
  margin: 0;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  font-size: 1.2em;
}
.bubble-content .msg-content {
  margin: 0;
  margin-top: var(--spacing);
  font-size: 16px;
  color: rgba(0,0,0,.7);
}

.bubble .bubble-content.me > .msg-content {
  color: rgba(0,0,0,.7);
  margin: 0;
}

.bubble .bubble-content.me:has(.bubble) > .msg-content {
  padding: 0;
}

.bubble .bubble-content.me > .msg-author {
  color: green;
  display: none;
}

.bubble-content .msg-author {
  color: sienna;
}

.bubble-content > .msg-content {
  padding-right: 24px;
  font-weight: 700;
}

.bubble-content > .msg-content:has(.bubble) {
  max-width: 100%
}

.msg-content > .msg-content {
  padding-right: 24px;
  font-size: 16px;
  font-weight: 700;
}

.msg-content .bubble .msg-content, .msg-content .bubble .msg-author {
  font-size: 14px;
  font-weight: 400;
}

.bubble .bubble-content.me {
  background-color: lightgreen;
  border-radius: var(--spacing) var(--spacing) 0 var(--spacing);
}

.members-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.members {
  background: lightblue;
  border-radius: 0 0 var(--spacing) var(--spacing);
  overflow-y: scroll;
  max-width: 300px;
  box-shadow: inset 0 7em 8em -10em dodgerblue;
  padding-left: var(--spacing);
  flex-grow: 1;
}

.members ul {
  list-style: none;
  padding: 0;
}

#sidebar:has(ul:empty) {
  opacity: 0;
  width: 0;
  height: 0;
}

#sidebar .members-container > p {
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  height: var(--base-height);
  display: grid;
  align-items: center;
  border-radius: var(--spacing) var(--spacing) 0 0;
  background-color: powderblue;
  font-weight: 900;
  color: darkblue;
}

.members ul li {
  border: solid 3px cornflowerblue;
  border-radius: var(--spacing);
  overflow: hidden;
  margin-bottom: var(--spacing);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.members ul li img {
  height: 100%;
  width: 48px;
  object-fit: cover;
  object-position: center;
}

.members ul li:hover, .members ul li:focus {
  border: solid 3px darkslateblue;
}

.members ul li:hover p:first-child, .members ul li:focus p:first-child {
  background-color: darkslateblue;
}

.members ul li .member-info {
  display: grid;
  align-items: center;
}

.members ul li p {
  word-wrap: break-word;
  margin: 0;
  padding: 4px 8px;
}

.members ul li p:first-child {
  font-size: 1.2em;
  font-weight: 900;
  background-color: cornflowerblue;
  color: white;
}

#channel {
  display: block;
  border: none;
  text-align: center;
  width: -webkit-fill-available;
  font-size: 2em;
  font-weight: 900;
  padding: 0;
  width: 100%;
}

@media (min-width: 480px) {
  #app {
    grid-template-columns: auto 1fr;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin-left: var(--spacing);
  }
}

.new-channel-btn {
  border: none;
  background-color: gold;
  fill: black;
  box-shadow: inset 0 -1em 1em -1em brown;
}

.channel-btn {
  background-color: teal;
  color: white;
  box-shadow: inset 0 -1em 1em -1em rebeccapurple;
}

.channel-btn, .new-channel-btn {
  display: inline-block;
  padding: var(--spacing) calc(var(--spacing) * 2);
  border-radius: var(--spacing) var(--spacing) 0 0;
  font-weight: 900;
  font-family: monospace;
  font-size: 2em;
  cursor: pointer;
  line-height: 1.2;
}

.channel-btn:has(input:checked) {
  background-color: whitesmoke;
  color: black;
  box-shadow: none;
}

.channel-btn input {
  opacity: 0;
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: var(--spacing);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

.posted-time {
  color: gray;
}

.msg-content > .bubble {
  background-color: rgba(255, 255, 255, .5);
  opacity: .6;
  padding: var(--spacing);
  width: auto;
  text-decoration: none;
  color: black;
  display: block;
}

#input-container:has(span:empty) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.message-input-container {
  padding: var(--spacing);
}

#input-container:has(span:empty) > label {
  display: block;
  margin-left: var(--spacing);
}

#input-container > label {
  display: none;
}

.message-input-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: var(--spacing);
  background-color: gold;
  border-radius: 0 0 var(--spacing) var(--spacing);
}

.message-input-container:has(span:empty) {
  grid-template-columns: 1fr;
  gap: 0;
  background-color: transparent;
  align-items: flex-end;
}

.message-input-container span {
  padding-left: var(--spacing);
  color: dimgray;
}

.message-input-container span:empty {
  padding: 0;
}

.message-input-container input {
  font-size: 21px;
  border: none;
  padding: 0 var(--spacing);
  box-shadow: inset 0 0 0 1px dimgray;
  border-radius: 50px;
}

.reply-cancel-btn {
  border: none;
  background-color: transparent;
  width: 24px;
  cursor: pointer;
  opacity: .5;
  padding: 0;
  text-align: center;
}

.reply-cancel-btn:hover, .reply-cancel-btn:focus {
  opacity: 1;
}

.reply-cancel-btn svg {
  padding-right: 4px;
}

.message-input-container:has(span:empty) .reply-cancel-btn {
  display: none;
}

.channels-container {
  display: grid;
  grid-template-columns: 1fr var(--base-height);
}

.close-tab-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: var(--spacing);
  border-radius: 50%;
  background-color: crimson;
  font-size: 1em;
  font-weight: 900;
  color: white;
  cursor: pointer;
  opacity: .3;
  transition: .3s;
  padding: 0;
  border: none;
}

.close-tab-btn:hover, .close-tab-btn:focus {
  opacity: 1;
  transition: .3s;
}

.to-bottom-btn {
  position: absolute;
  bottom: calc(var(--base-height) + var(--spacing));
  left: calc(50% + 10px);
  border-radius: 50%;
  height: 32px;
  width: 16px;
  transform: scaleX(2) translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  padding-top: 8px;
  border: none;
  opacity: .3;
  cursor: pointer;
}

.to-bottom-btn:hover, .to-bottom-btn:focus {
  opacity: 1;
}

.messages-container .reply-view > div {
  background-color: white;
  padding: var(--spacing);
  border-radius: var(--spacing);
}

.messages-container .reply-view  p {
  margin: 0;
}

.messages-container .reply-view {
  background-color: gold;
  padding: var(--spacing);
}

.messages-container .reply-view .msg-author {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px grey;
}

.messages-container .reply-view .msg-content {
  margin-top: var(--spacing);
  font-size: 16px;
}

.btns-container {
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.btns-container button, .btns-container a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: none;
  text-decoration: none;
  color: black;
  border-radius: var(--spacing);
  cursor: pointer;
}

.btns-container button:hover, .btns-container a:hover {
  background-color: lightgray;
}
